@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Dallin Duke";
}


<!--Perferred Name header tag-->
<h1>The Duke</h1>

<!--Calling image to be displayed-->
<img src="img/Fishing.jpg" width="300" height="400" />

<br />

<!--Creating a paragraph about what I hope to get out of this class-->
<p>
    I hope to become a better programmer and become more confident in programming.<br /> I have constantly struggled with programming, but I continue to hope that the more I program the more that will make sense.<br />
    I am excited to learn C#, Javascript, Jquery, and react and also nervous since they are mostly new to me. <br /> I also hope how to learn how to make awesome websites!
</p>

<!--Creating an ordered list-->
<ol>
    <li>Information Security Analyst</li>
    <li>Network Engineer</li>
    <li>Someday to be Chief Information Security Officer</li>
</ol>


